/*Desktop*/
@media screen and (max-width: 960px) {
	.main-lrg-img {
		display: none;
	}
	img.main-med-img {
		display: inline-block;
	}
	nav .main-nav,
	nav .main-nav a {
		padding: 1em;
	}
	nav .main-nav a:hover {
		padding: 1rem 1.2rem;
	}
	.main-content,
	.sub-content {
		font-size: 1.25rem;
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	section .main-content {
		padding-bottom: 1rem;
	}
	.sub-sml-img-lrgscreen {
		display: none;
	}
	img.sub-sml-img-medscreen {
		display: inline-block;
	}
	p.main-content,
	p.sub-content {
		width: 80%;
		border-radius: 4px;
		padding: 1rem;
		float: none;
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 632px) {
	nav .main-nav .nav-item {
		padding: 1.2rem;
		display: block;
	}
	nav .main-nav .nav-item a {
		font-size: 1.5rem;
	}

	nav .main-nav .nav-item a:hover {
	}
	
	.main-nav a:hover {
		padding: 1rem 1.2rem;		
	}

	.main-content,
	.sub-content {
		font-size: 1.5rem;
	}
	p.main-content,
	p.sub-content {
		width: 100%;
		background-color: rgba(100,100,100,0.1);
		border-radius: 6px;
		padding: 1rem;
	}
	img.main-med-img {
		display: none;
	}
	img.main-sml-img {
		display: inline-block;
	}
	img.sub-sml-img-medscreen {
		display: block;
		width: 200px;
		margin: 1rem auto;
	}
